@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{margin: 0; padding: 0; box-sizing: border-box;}
li,ol,ul{list-style: none;}
a{text-decoration: none;}

.section{width: 100%;}
.section .container{width: 100%; max-width: 1000px; margin: 0 auto;}
.section .container .title{text-align: center; padding:24px 0;}
.section .container .update-form{width: 400px; margin: 0 auto; display: flex; flex-flow: column; align-items: center; gap:10px;}
.section .container .update-form .wrapper{position:relative;}

        /* wrapper */
        .container .update-form .box{width: 100%; display: flex; flex-flow: row; justify-content: space-between; gap:10px}
        .container .update-form .wrapper{width: 100%; padding:10px 15px; border:1px solid lightgray; position: relative; border-radius: 5px; display: flex;}
        .container .update-form .pwd-wrapper{width: 100%;}
        .container .update-form .wrapper:focus-within{border:1px solid #006938;}
        .container .update-form .wrapper .label{font-size: 18px; color: gray;transition: all .1s; cursor: pointer; width:130px}

        .container .update-form .wrapper > input{width: 100%; font-size: 18px; font-family: sans-serif; border:none; outline: none;}
        .container .update-form .wrapper > input:focus{color:#006938;}
        .container .update-form .wrapper #pwd-toggle{position: absolute; top: 7px; right: 10px; font-size: 25px; color: gray; cursor: pointer;}
        .container .update-form .wrapper #capslock-alert{position: absolute; bottom: -18px; display: none; font-size: 13px; font-family: 'Pretendard-Regular';}
        .container .update-form .wrapper #capslock-alert.show{display: block;}

        .container .update-form .alert{display:none;}
        .container .update-form .alert.show{display: block;}
