*{margin: 0; padding: 0; box-sizing: border-box;}
li,ol,ul{list-style: none;}
a{text-decoration: none;}

.section{width: 100%;}
.section .container{width: 100%; max-width: 1000px; margin: 0 auto; padding:24px; text-align: center;}
.section .container .title{padding:24px 0;}
.section .container .subtitle{padding:12px 0;}
.section .container .recent-post{border-collapse: collapse; border-spacing: 0; margin: 0 auto; width: 100%; max-width: 500px; border-top: 1px solid black;}
.section .container .recent-post .post-title{text-align: left;}
.section .container .recent-post td{border-bottom:1px solid black; padding:7px;}

